{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<main class="container">
    {% for conversation in conversations %}
    <div class='card'>
        <div class="row no-gutters">
            <div class='col-sm-4'>
                <img class='ad-image-inbox' src="{{conversation.ad.image.url}}" alt="ad image">
            </div>
            <div class="col-sm-8">
                <div class="card-body">
                    <a class='stretched-link' href="{% url 'messages-conversation' id=conversation.id %}">
                        <h6 class='card-title'>{{ conversation.ad.title }}</h6>
                    </a>
                    <p class='card-text d-flex justify-content-between'>
                        {{ conversation.latest_message.body }}
                        <small class='text-muted'>{{ conversation.latest_message.date | naturaltime }}</small>
                    </p>
                    <p class='text-muted'>
                        {% if conversation.starter == request.user %}
                        {{ conversation.participant }}
                        {% else %}
                        {{ conversation.starter }}
                        {% endif %}
                    </p>
                </div> <!-- card body -->
            </div> <!-- col-sm-8 -->
        </div> <!-- row -->
    </div> <!-- card -->
    {% endfor %}

</main>
{% endblock content %}