{% extends 'base.html' %}


{% block content %}
<article class="container p-4">
    <h2>Posting Policies</h2>
    <p>
        The following activities are prohibited from Thunder Shack:

    <ul>

        <li>
            Posting an item for sale that is not located in Thunder Grove area.
        </li>
        <li>
            Posting an item for sale that is illegal to own, buy or sell in your area of residence.
        </li>
        <li>
            Posting an item for sale that is in the prohibited items and services list.
        </li>
        <li>
            Posting duplicate ads in multiple categories.
        </li>


        <li>
            Posting ads using multiple different email addresses.
        </li>
        <li>
            Posting an ad that violates Thunder Shack's Jobs Code of Conduct.
        </li>
        <li>
            Posting an ad containing a list of keywords not directly related to the item being sold.
        </li>
        <li>
            Posting an ad in languages other than English and French.
        </li>
        <li>
            Posting an ad that contains adult, mature or erotic content. Personals are not allowed.
        </li>
        <li>
            Posting an ad that defames anyone or contains "hate speech".
        </li>
        <li>
            Posting opinions, notices, and discussion topics which should instead be posted on social media sites.
        </li>
        <li>
            Posting an ad in an incorrect or misleading category or with misleading information.
        </li>
        </p>
        <p>
            Please note:

        <ul>
            <li>Users must be at least 16 years old to post ads on their own. Ads for our younger users must be posted
                by an
                adult
                for security reasons.</li>
            <li>Any ads that do not comply with Kijiji policies may be removed from the site. Additionally, users who
                violate
                such
                policies may be blocked from using Kijiji in the future.</li>
            <li>We may, at any time, remove an ad if we believe it interferes with the well-being of the community or
                the
                spirit
                of
                Kijiji.</li>
        </ul>
        </p>
        <p>
            Our general rule is that you may not list, buy or sell items or services that are
            illegal to own, buy or sell in
            your province of residence, or that are not bought or sold in
            compliance with applicable laws and regulations.
            <strong>You
                are responsible for ensuring compliance with all applicable laws
                relating to the item you list, buy or sell.</strong>

        </p>
</article>
{% endblock content %}