{% extends 'base.html' %}


{% block content %}
<article class="container p-4">
    <h2>Posting Policies</h2>


    <p>
        Welcome to Thunder Shack. These are the Terms of use, please respect. Thank you.

    </p>
    <p>
        Thunder Shack is non profit website, located at 25 Thunder Grove, Scarborough.
    </p>
    <p>
        <strong>Account</strong><br>
        In order to use some of the features of Website you will need to register an account using
        your email and password. You should protect your password and make your password difficult for others to guess.
        You are solely responsible for all activities that occur under your Account.
        f you believe your Account may have been compromised or misused, contact us immediately at Thunder Shack Support
    </p>
    <p>
        <strong>Using the Website</strong>
        You may not access or use the Website for any purpose other than that for which we make the Website available.
        The Website may not be used in connection with any commercial endeavors except those that are specifically
        endorsed or approved by us.
    <ul>
        <li>systematically retrieve data or other content from the Site to create or compile, directly or indirectly, a
            collection, compilation, database, or directory without written permission from us.</li>
        <li>violate any laws</li>
        <li>be false or misleading</li>
        <li>infringe any third-party right</li>
        <li>distribute or contain spam, chain letters, or pyramid schemes</li>
        <li>attempt to impersonate another user or person or use the username of another user</li>
        <li>harass, annoy, intimidate, or threaten any of our employees or agents</li>
        <li>upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material,
            including excessive use of capital letters and spamming (continuous posting of repetitive text), that
            interferes with any party’s uninterrupted use and enjoyment of the Site or modifies, impairs, disrupts,
            alters, or interferes with the use, features, functions, operation, or maintenance of the Website</li>
        <li>copy, modify, or distribute any other person's content</li>
        <li>use any robot, spider, scraper or other automated means to access Thunder Shack and collect content for any
            purpose without our express written permission</li>
        <li>bypass measures used to prevent or restrict access to Thunder Shack</li>

    </ul>
    </p>
    <p><strong>Abusing the Website</strong><br>
        Any offensive content will be removed. Accounts will be banned at our discretion. We do not accept any liability
        for monitoring Thunder Shack or for unauthorized or unlawful content on Thunder Shack or use of Thunder Shack by
        users.
    </p>

    <p>
        <strong>Content</strong><br>
        The Services contains stuff from us, you, and other users. You agree not to copy, modify, resell or distribute
        the Services, our copyrights or trademarks. When you give us content, you are granting us a non-exclusive,
        worldwide, perpetual, irrevocable, royalty-free, sub-licensable right to exercise the copyright, publicity, and
        database rights to that content. If you believe that your rights have been violated, please notify Thunder Shack
        Support and we will investigate the matter. We reserve the right to remove content where we have grounds for
        suspecting the violation of these terms or the rights of any other party.
    </p>
    <p>
        <strong>Reporting Intellectual Property Infringements</strong>
        Do not post content that infringes the rights of third parties. This includes, but is not limited to, content
        that infringes on intellectual property rights such as copyright and trademark (e.g. offering counterfeit items
        for sale). Do not post content that contains any reference to or likeness of any identifiable third parties,
        unless consent has been obtained from each such individual as may be required. We reserve the right to remove
        content where we have grounds for suspecting the violation of these terms, our policies or of any party's
        rights. The following steps are for reporting a listing to Thunder Shack that you believe to be infringing on
        your intellectual property rights. Only the intellectual property rights owner can report of potentially
        infringing items or listings. If you have a good faith belief that a listing on any of the Services infringes
        your copyright, trademark, or other intellectual property rights, please contact <a
            href="{% url 'contact-us' %}">Support</a>

    </p>
    <p>
        <strong>Disclaimers and Limitations of Liability.</strong>
        The Services are provided “as is” and “as available”. You agree not to hold us responsible for things other
        users post or do. As most of the stuff on the Services comes from other users, we do not guarantee the accuracy,
        completeness, efficacy or timeliness of any postings or user communications or the quality, safety, or legality
        of what is offered. We also cannot guarantee continuous or secure access to our Services. Notification
        functionality in our Services may not occur in real time. Such functionality is subject to delays beyond our
        control, including without limitation, delays or latency due to your physical location or your wireless data
        service provider’s network. Accordingly, to the extent legally permitted we expressly disclaim all warranties,
        representations and conditions, express or implied, including those of quality, merchantability, merchantable
        quality, durability, fitness for a particular purpose and those arising by statute. We are not liable for any
        loss, whether of money (including profit), goodwill, or reputation, or any special, indirect, or consequential
        damages arising out of your use of Kijiji, even if you advise us or we could reasonably foresee the possibility
        of any such damage occurring. Some jurisdictions do not allow the disclaimer of warranties or exclusion of
        damages, so such disclaimers and exclusions may not apply to you.

        IN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT,
        INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOST PROFIT, LOST
        REVENUE, LOSS OF DATA, OR OTHER DAMAGES ARISING FROM YOUR USE OF THE SITE, EVEN IF WE HAVE BEEN ADVISED OF THE
        POSSIBILITY OF SUCH DAMAGES.
    </p>
    <p>
        <strong>Indemnification</strong>
        You agree to defend, indemnify, and hold us harmless, including our subsidiaries, affiliates, and all of our
        respective officers, agents, partners, and employees, from and against any loss, damage, liability, claim, or
        demand, including reasonable attorneys’ fees and expenses, made by any third party due to or arising out of: (1)
        your Contributions; (2) use of the Site; (3) breach of these Terms and Conditions; (4) any breach of your
        representations and warranties set forth in these Terms and Conditions; (5) your violation of the rights of a
        third party, including but not limited to intellectual property rights; or (6) any overt harmful act toward any
        other user of the Site with whom you connected via the Site.

        Notwithstanding the foregoing, we reserve the right, at your expense, to assume the exclusive defense and
        control of any matter for which you are required to indemnify us, and you agree to cooperate, at your expense,
        with our defense of such claims. We will use reasonable efforts to notify you of any such claim, action, or
        proceeding which is subject to this indemnification upon becoming aware of it.
    </p>
    <p>
        <strong>Personal Information</strong>
        We will maintain certain data that you transmit to the Site for the purpose of managing the Site, as well as
        data relating to your use of the Site. Although we perform regular routine backups of data, you are solely
        responsible for all data that you transmit or that relates to any activity you have undertaken using the Site.

        You agree that we shall have no liability to you for any loss or corruption of any such data, and you hereby
        waive any right of action against us arising from any such loss or corruption of such data.
    </p>

    <p>
        <strong>ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</strong>
        Visiting the Site, sending us emails, and completing online forms constitute electronic communications. You
        consent to receive electronic communications, and you agree that all agreements, notices, disclosures, and other
        communications we provide to you electronically, via email and on the Site, satisfy any legal requirement that
        such communication be in writing.

        YOU HEREBY AGREE TO THE USE OF ELECTRONIC SIGNATURES, CONTRACTS, ORDERS, AND OTHER RECORDS, AND TO ELECTRONIC
        DELIVERY OF NOTICES, POLICIES, AND RECORDS OF TRANSACTIONS INITIATED OR COMPLETED BY US OR VIA THE SITE.

        You hereby waive any rights or requirements under any statutes, regulations, rules, ordinances, or other laws in
        any jurisdiction which require an original signature or delivery or retention of non-electronic records, or to
        payments or the granting of credits by any means other than electronic means.
    </p>
    <p>
        <strong>GOVERNING LAW</strong>
        These Terms of Use are governed by the laws of the Province of Ontario, Canada and deemed to be entered into by
        you in the Province of Ontario, Canada.
    </p>
    <p>
        <strong>MODIFICATIONS AND INTERRUPTIONS</strong>
        We reserve the right to change, modify, or remove the contents of the Site at any time or for any reason at our
        sole discretion without notice. However, we have no obligation to update any information on our Site. We also
        reserve the right to modify or discontinue all or part of the Site without notice at any time.

        We will not be liable to you or any third party for any modification, price change, suspension, or
        discontinuance of the Site.

        We cannot guarantee the Site will be available at all times. We may experience hardware, software, or other
        problems or need to perform maintenance related to the Site, resulting in interruptions, delays, or errors.

        We reserve the right to change, revise, update, suspend, discontinue, or otherwise modify the Site at any time
        or for any reason without notice to you. You agree that we have no liability whatsoever for any loss, damage, or
        inconvenience caused by your inability to access or use the Site during any downtime or discontinuance of the
        Site.

        Nothing in these Terms and Conditions will be construed to obligate us to maintain and support the Site or to
        supply any corrections, updates, or releases in connection therewith.
    </p>
    <p>
        <strong>
            Prohibited Countries Policy and Foreign Trade Regulation - Applications.
        </strong>
        The Application or its underlying technology may not be downloaded to or exported or re-exported: (a) into (or
        to a resident or national of) any country subject to United States embargo; (b) to anyone on the U.S. Department
        of the Treasury’s list of Specially Designated Nationals or on the U.S. Department of Commerce’s Denied Party or
        Entity List; and (c) to any prohibited country, person, end-user, or entity specified by U.S. export laws. When
        using the Application, you are responsible for complying with trade regulations and both foreign and domestic
        laws (e.g., you are not located in a country that is subject to a U.S. government embargo, or that has been
        designated by the U.S. government as a "terrorist supporting" country, and you are not listed on any U.S.
        government list of prohibited or restricted parties).
    </p>
    <p><strong>
            MISCELLANEOUS
        </strong>
        These Terms and Conditions and any policies or operating rules posted by us on the Site constitute the entire
        agreement and understanding between you and us. Our failure to exercise or enforce any right or provision of
        these Terms and Conditions shall not operate as a waiver of such right or provision.

        These Terms and Conditions operate to the fullest extent permissible by law. We may assign any or all of our
        rights and obligations to others at any time. We shall not be responsible or liable for any loss, damage, delay,
        or failure to act caused by any cause beyond our reasonable control.

        If any provision or part of a provision of these Terms and Conditions is determined to be unlawful, void, or
        unenforceable, that provision or part of the provision is deemed severable from these Terms and Conditions and
        does not affect the validity and enforceability of any remaining provisions.

        There is no joint venture, partnership, employment or agency relationship created between you and us as a result
        of these Terms and Conditions or use of the Site. You agree that these Terms and Conditions will not be
        construed against us by virtue of having drafted them.

        You hereby waive any and all defenses you may have based on the electronic form of these Terms and Conditions
        and the lack of signing by the parties hereto to execute these Terms and Conditions.
    </p>
    <p>
        <strong>CONTACT US</strong>
        In order to resolve a complaint regarding the Site or to receive further information regarding use of the Site,
        please contact us at: <a href="{% url 'contact-us' %}">Contact</a>
    </p>

    {% endblock %}