{% extends 'base.html' %}


{% block content %}
<article class="container p-4">
    <h2>Posting Policies</h2>


    <p>
        Welcome to Thunder Shack. These are the Terms of use, please respect. Thank you.

    </p>
    <p>
        Thunder Shack is non profit website, located at 25 Thunder Grove, Scarborough.
    </p>
    <p>
        <strong>Account</strong><br>
        In order to use some of the features of Website you will need to register an account using
        your email and password. You should protect your password and make your password difficult for others to guess.
        You are solely responsible for all activities that occur under your Account.
        f you believe your Account may have been compromised or misused, contact us immediately at Thunder Shack Support
    </p>
    <p><strong>Abusing the Website</strong><br>
        Any offensive content will be removed. Accounts will be banned at our discretion. We do not accept any liability
        for monitoring Thunder Shack or for unauthorized or unlawful content on Thunder Shack or use of Thunder Shack by
        users.
    </p>

    <p>
        <strong>Content</strong><br>
        The Services contains stuff from us, you, and other users. You agree not to copy, modify, resell or distribute
        the Services, our copyrights or trademarks. When you give us content, you are granting us a non-exclusive,
        worldwide, perpetual, irrevocable, royalty-free, sub-licensable right to exercise the copyright, publicity, and
        database rights to that content. If you believe that your rights have been violated, please notify Thunder Shack
        Support and we will investigate the matter. We reserve the right to remove content where we have grounds for
        suspecting the violation of these terms or the rights of any other party.
    </p>


    {% endblock %}