.ad-image {
    height: 250px;
    object-fit: cover;
}

.ad-image-details {
    max-width: 100%;
    height: 450px;
    object-fit: contain;
}

.ad-container {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2.5em;
   justify-content: center;
   margin: 0 auto;
}