{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container p-5">
    <h2 class="font-weight-bold mt-3 text-center">Login</h2>
    <hr>
    <p>Please enter your details:</p>
    <form action="" method="POST">
        {% csrf_token %}
        {{form | crispy}}
        <p class="text-right">
            <small class="text-muted">Forgot password? : <a href="{% url 'password_reset' %}">
                    <button class="btn btn-outline-secondary btn-sm">Reset</button></a></small>
        </p>


        <input type="submit" class="btn btn-primary" />

    </form>
    <hr>
    <p class='text-center'> You don't have an account? It's super easy: <a href="{% url 'register' %}">
            <button class="btn btn-outline-primary btn-sm">REGISTER HERE</button></a>
    </p>
</div>
{% endblock content %}