{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container p-5">
    <h2 class="font-weight-bold mt-3 text-center">Registration</h2>
    <hr>
    <p>Please enter your details:</p>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {{ form | crispy }}

        <input type="submit" class="btn btn-primary" />

    </form>
    <div>
        <small>By clicking "Submit" you agree to our <a href="{% url 'terms-of-use' %}">Terms of use</a>
            and our <a href="{% url 'privacy-policy' %}">Privacy policy</a>
        </small>
    </div>
</div>
{% endblock content %}