{% extends 'base.html' %}
{% load static %}


{% block banner %}
<div class='jumbotron'>
    <h1 class="display-4">Keep it in the Neighbourhood</h1>
    <p class='lead'>Why buy from others, <br>
        when you can buy from your own
    </p>

</div>
{% endblock banner %}

<!-- Content -->
{% block content %}
<main class='ad-container'>
    {% for ad in ads %}
    <section class="card shadow-sm">
        <img class="img-fluid card-img-top ad-image" src=" {{ ad.thumbnail.url }} " />

        <div class="card-body">

            <h5 class="card-title">{{ ad.title }}


            </h5>
            <div class='ad-price'>
                {{ ad.price }}$
            </div>
        </div>
        <a class='stretched-link' href="{{ ad.get_absolute_url }} "></a>
    </section>
    {% endfor %}

</main>
{% endblock content %}