{% extends 'base.html' %}
{% load static %}


{% block banner %}
<div class='banner'>
    <p>Keep It In <br>
         The Neighbourhood
</div>
{% endblock banner %}

<!-- Content -->
{% block content %}
<main class='container'>
    {% for ad in ads %}
    <a href="{{ ad.get_absolute_url }} ">
       <section class="ad">
                <div class='ad-image'>
                    <img class="ad-image" src=" {{ ad.image.url }} " />
                </div>
               
   <div class="ad-body">

       <div class="ad-title">
           {{ ad.title }}
        </div>
        <div class='ad-price'>
            {{ ad.price }}$
       </div>
   </div>
   
           
        </section>
</a>
    {% endfor %}
</main>
{% endblock content %}

